@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --dsrr-color-bg-primary: #2d28ff;
  --dsrr-color-bg-secondary: #fff;
  --dsrr-color-bg-tertiary: #c7c7c7;

  --dsrr-color-font-primary: #fff;
  --dsrr-color-font-secondary: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 960px;
  display: flex;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

main {
  background-color: var(--dsrr-color-bg-secondary);
}

.menu-item {
  margin-right: 20px;
  font-size: 16px;
}

.menu-active {
  font-weight: 700;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.dflex {
  display: flex;
  flex-direction: column;
}
